.select-answer{
    width: 80%;
}

.Questions-Box {
    position:relative;
    border: 2px solid #fff !important;
    width:20%;
    height: 25vh;
    border-radius: 25px;
}

.nextQ {
    margin-top: 2rem;
    margin-left: 50%;
    transform: translate(-50%, 0px)
}