/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.categorySelectionButton {
    @apply border;
    @apply border-gray-300;
    @apply p-6;
    @apply rounded-lg;
}

.darkblueBackground {
    background-color: #10172f;
}


.categorySelectionButton:hover {
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.8);
    cursor: pointer;
}